body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #4f46e5, #9333ea);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
}

body.dark {
  background: linear-gradient(135deg, #0f0f0f, #232323);
  color: white;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  transition: 0.3s;
}

body.dark .container {
  background: #1c1c1c;
}

.titulo {
  font-size: 28px;
  margin-bottom: 20px;
}

form input {
  padding: 12px;
  margin: 8px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.label-file {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

button {
  padding: 12px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: #3b34c4;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  animation: fadeIn 0.4s;
}

body.dark .card {
  background: #2a2a2a;
  color: white;
}

.card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 4px solid #4f46e5;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.float-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #111;
  padding: 14px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 20px;
  transition: 0.3s;
}

.float-btn:hover {
  transform: scale(1.1);
}

.download-btn {
  background-color: #10b981;
}
.download-btn:hover {
  background-color: #0d916a;
}

.hidden {
  display: none;
}

.mensaje-ok {
  background: #22c55e;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 15px 0;
  animation: fadeIn 0.5s;
}

.historial {
  display: grid;
  gap: 15px;
  margin-top: 15px;
}
